body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* html,body {
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height

}

div#container {
    position:relative; /* needed for footer positioning
    margin:0 auto; /* center, not in IE5
    width:750px;
    background:#f0f0f0;

    height:auto !important; /* real browsers
    height:100%; /* IE6: treaded as min-height

    min-height:100%; /* real browsers
}

div#header {
    padding:0;
    background-image: image("../home.jpg");

}
    div#header p {
        font-style:italic;
        font-size:1.1em;
        margin:0;
    }

div#content {
    padding:1em 1em 5em; /* bottom padding for footer
}
    div#content p {
        text-align:justify;
        padding:0 1em;
    }

div#footer {
    position:absolute;
    width:100%;
    bottom:0; /* stick to bottom
    background:#ddd;
    border-top:6px double gray;
}
div#footer p {
    padding:1em;
    margin:0;
}



  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }



html {
  height: 100%;
  box-sizing: border-box;
}


body {
  position: relative;
  padding-bottom: 1rem;
  margin: 0 !important;
  min-height: 100%;
}


footer {
  text-align: right;
  font-family: sans-serif;
  background: #00469D;
  position: sticky;
  padding: 6px;
  bottom: 0;
  left: 0;
  right: 12;
}

footer span {
  text-align: right;
}
*/
