.players-table {
  width: 1000px;
  font-family: Roboto;
  font-size: 12px;
  color:steelblue;
  margin: 20px;

  padding: 0 10px 10px 10px;
}


.container {
 margin: 10px 0 0 10px;
 width: 1320px;
 padding: 0;
 background-image: url("fieldbackground.jpg");
 background-size: cover;

}


.rankings-table {

  width: 1000px;
  font-family: Roboto;
  font-size: 18px;
  color: lightslategrey;
  margin: 20px;
  background-color: antiquewhite;
  padding: 0 10px 10px 10px;
  float: left;
}

.injuries-table {
  width: 800px;
  font-family: Courier New, monospace;
  font-size: 10px;
  color: #FFFFFF;
  margin: 20px 20px;
  background-color: #43464B;
  padding: 0 10px 10px 10px;
  vertical-align: middle;
  align-content: center;
}

table {
  width: 100%;
  margin-bottom: 0 !important;
  font-size: 18px;
  color:cadetblue;

}

th {
  text-align: center;
}

td {
  text-align: center;
  vertical-align: middle !important;
  color: steelblue;
}

tr {
  height: 20px;
}

h3 {
  padding-top: 15px;
  font-family: sans-serif;
  font-weight: bolder;
  margin: auto 0;
  color: steelblue;
}

input {

  font-family: Roboto;
  color: beige;
  font-weight: bold;
  font-size: 16px;
}

input::placeholder {
color: dimgrey;

}
button {
  color:#365125;
}
