.players-table {
  width: 1000px;
  font-family: Roboto;
  font-size: 10px;
  color:steelblue;
  margin: 20px 20px;
  background-color: transparent;
  padding: 0 10px 10px 10px;
}

table {
  width: 100%;
  margin-bottom: 0 !important;
  font-size: 18px;
  color:cadetblue;
}

th {
  text-align: center;
}

td {
  text-align: center;
  vertical-align: middle !important;
  color: steelblue;
}

tr {
  height: 20px;
}

h3 {
  padding-top: 10px;
  font-family: sans-serif;
  font-weight: bolder;
  margin: auto 0;
  color: steelblue;
}

input {
  color: dodgerblue;
}

button {
  color:darkgreen;
}
