.footer {
  text-align: center;
  color:dodgerblue;
}

.footer span {
  font-family: Roboto-Medium, New, monospace;
  background: #B8B8B8;
  position: absolute;
  padding: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
}
