.players-table {
  width: 680px;
  font-family: Courier New, monospace;
  color: rgba(255, 255, 255, 0.4);
  margin: 20px 20px;
  background-color: #2b2a2a;
  padding: 10px;
}

th {
  text-align: center;
}

td {
  text-align: center;
  vertical-align: middle;
}

tr {
  height: 30px;
}

h3 {
  margin: auto 0;
  color: #FFFFFF;
}

input {
  color: black;
}

button {
  color: black;
}
